* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    padding-top: 5px;
}

.container {
    display: grid;
    grid-template-columns: 5% 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    transition: grid-template-columns 0.3s ease;
}

.main-header {
    grid-column: 1 / -1;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.right-bar {
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 0.5em;
}

.burger-menu {
    font-size: 21px;
    font-weight: 30px;
    height: 42px;
    width: 42px;
    cursor: pointer;
    background: transparent;
    border: none;
    border-radius: 50%;
    color: black;
}

.burger-menu:hover {
    background-color: rgb(221, 221, 221);
}

.main-header .logo {
    width: 7.1em;
    height: 2.6em;
    padding-left: 15px;
}

.search-form {
    display: flex;
    justify-content: center;
    margin: 0 5%;
    flex-grow: 1;
}

.search-container {
    display: flex;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    width: 62%;
}

.search-bar {
    border: none;
    padding: 10px;
    font-size: 16px;
    flex-grow: 1;
    outline: none;
}

.search-button {
    border: none;
    background-color: rgb(240, 240, 240);
    padding: 4px 15px;
    cursor: pointer;
    border-left: 1px solid black;
}

.search-button:hover {
    background-color: rgb(218, 218, 218);
}

.search-button img {
    height: 1.5em;
}

.three-img {
    display: flex;
    justify-content: center;
}

.three-img img {
    height: 2em;
    border: none;
    border-radius: 50%;
    padding: 0 0.5em;
}

.sidebar {
    transition: opacity 0.3s ease, width 0.3s ease;
}

.narrow-sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    opacity: 1;
    text-align: center;
}

.narrow-sidebar p {
    font-size: 10px;
    text-align: start;
}


.img-bar {
    padding: 12px 0;
    cursor: pointer;
    border: none;
    border-radius: 15%;
    margin: 8px;
}

.img-bar img {
    width: 1.5em;
}

.narrow-sidebar p {
    font-size: 10px;
    text-align: center;
}

.img-bar:hover {
    background-color: rgb(221, 221, 221);
}

.expanded-sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    opacity: 0;
    pointer-events: none;
    flex-direction: column;
    align-items: center;
}

.expanded-sidebar img {
    width: 1.5em;
    text-align: start;
    align-items: center;
    margin-right: 1.5em;
    margin-left: 0.8em;
    vertical-align: middle;
}

.p-bar {
    display: block;
    line-height: 1.5em;
    padding: 7px 0;
    text-align: start;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    margin: 10px;
}

.paragraphs-one {
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    display: block;
    margin: 10px;
    border-radius: 12px;
    line-height: 1.5em;
    padding: 7px 0 7px 14px;
}

.paragraphs-two {
    font-weight: bold;
    font-size: 17px;
    cursor: default;
    display: block;
    line-height: 1.5em;
    padding: 7px 0 7px 22px;
}

.p-bar:hover,
.paragraphs-one:hover {
    background-color: rgb(221, 221, 221);
}

.container.expanded {
    grid-template-columns: 15% 1fr;
}

.narrow-sidebar.expanded {
    opacity: 0;
    pointer-events: none;
}

.expanded-sidebar.expanded {
    opacity: 1;
    pointer-events: auto;
}

.content-main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 0.5em;
}

.main-top-bar {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: center;
    margin: 5px 0 25px 0;
}

.main-details {
    flex-grow: 1;
    display: flex;
    align-items: start;
    justify-content: center;
    font-size: 16px;
}

.topic {
    list-style-type: none;
    display: flex;
    padding: 0;
    font-size: 100%;
}

.topic li {
    margin-right: 10px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(241, 241, 241);
    font-weight: 500;
    font-size: 15px;
}

.topic li:hover {
    background-color: rgb(221, 221, 221);
}

.main-details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 20rem;
    transition: grid-template-columns 0.3s ease;
}

.container.expanded .main-details {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 23rem;
}

.container.expanded .card-video img{
    width: 400px;
    border-radius: 15px;
    margin-right: 10px;
}

.container.expanded .card-logo img{
    width: 40px;
    border-radius: 50%;
    text-align: center;
}

.card-block-text {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.card-video img {
    width: 310px;
    border-radius: 15px;
    margin-right: 10px;
}

.card-logo img {
    width: 40px;
    border-radius: 50%;
    text-align: center;
}

.main-text-video {
    display: flex;
    flex-direction: column;
}

.card-text-top {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 1.5;
    width: 240px;
}

.card-text-bottom {
    color: rgb(135, 135, 135);
    font-size: 14px;
}

@media (max-width: 768px) {
    .main-details {
        grid-template-columns: 1fr;
    }
}
