* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    padding-top: 0.3rem;
    font-size: 1rem;
    background-color: white;
}

.container {
    display: grid;
    grid-template-columns: 5% 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    transition: grid-template-columns 0.3s ease;
}

.main-header {
    grid-column: 1 / -1;
    padding: 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.right-bar {
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 0.5rem;
    width: 10%;
}

.burger-menu {
    font-size: 1.3rem;
    height: 2.6rem;
    width: 2.6rem;
    cursor: pointer;
    background: transparent;
    border: none;
    border-radius: 50%;
    color: black;
}

.burger-menu:hover {
    background-color: rgb(221, 221, 221);
}

.main-header .logo {
    width: 70%;
    height: auto;
    padding-left: 1rem;
}

.search-form {
    display: flex;
    justify-content: center;
    margin: 0 5%;
    flex-grow: 1;
}

.search-container {
    display: flex;
    border: 0.06rem solid black;
    border-radius: 1.25rem;
    overflow: hidden;
    width: 60%;
}

.search-bar {
    border: none;
    padding: 0.6rem;
    font-size: 1rem;
    flex-grow: 1;
    outline: none;
}

.search-button {
    border: none;
    background-color: rgb(240, 240, 240);
    padding: 0.3rem 1rem;
    cursor: pointer;
    border-left: 0.06rem solid black;
}

.search-button:hover {
    background-color: rgb(218, 218, 218);
}

.search-button img {
    height: 1.5rem;
}

.three-img {
    display: flex;
    justify-content: center;
    width: 10%;
}

.three-img img {
    height: 2rem;
    border: none;
    border-radius: 50%;
    padding: 0 0.5rem;
}

.sidebar {
    transition: opacity 0.3s ease, width 0.3s ease;
}

.narrow-sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    opacity: 1;
    text-align: center;
}

.img-bar {
    padding: 0.6rem 0;
    cursor: pointer;
    border: none;
    border-radius: 15%;
    margin: 0.5rem;
}

.img-bar img {
    width: 1.5rem;
}

.narrow-sidebar p {
    font-size: 0.625rem;
    text-align: center;
}

.img-bar:hover {
    background-color: rgb(221, 221, 221);
}

.expanded-sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    opacity: 0;
    pointer-events: none;
    flex-direction: column;
    align-items: center;
}

.expanded-sidebar img {
    width: 1.5rem;
    text-align: start;
    align-items: center;
    margin-right: 1.5rem;
    margin-left: 0.8rem;
    vertical-align: middle;
}

.p-bar {
    display: block;
    line-height: 1.5rem;
    padding: 0.4375rem 0;
    text-align: start;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 0.75rem;
    margin: 0.625rem;
}

.paragraphs-one {
    font-weight: bold;
    font-size: 1.0625rem;
    cursor: pointer;
    display: block;
    margin: 0.625rem;
    border-radius: 0.75rem;
    line-height: 1.5rem;
    padding: 0.4375rem 0 0.4375rem 0.875rem;
}

.paragraphs-two {
    font-weight: bold;
    font-size: 1.0625rem;
    cursor: default;
    display: block;
    line-height: 1.5rem;
    padding: 0.4375rem 0 0.4375rem 1.375rem;
}

.p-bar:hover,
.paragraphs-one:hover {
    background-color: rgb(221, 221, 221);
}

.container.expanded {
    grid-template-columns: 15% 1fr;
}

.narrow-sidebar.expanded {
    opacity: 0;
    pointer-events: none;
}

.expanded-sidebar.expanded {
    opacity: 1;
    pointer-events: auto;
}

.content-main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 0.5rem;
}

.main-top-bar {
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: center;
    margin: 0.3125rem 0 1.5625rem 0;
}

.main-details {
    flex-grow: 1;
    display: flex;
    align-items: start;
    justify-content: center;
}

.topic {
    list-style-type: none;
    display: flex;
    padding: 0;
    font-size: 100%;
}

.topic li {
    margin-right: 0.625rem;
    border: none;
    border-radius: 0.625rem;
    padding: 0.625rem;
    background-color: rgb(241, 241, 241);
    font-weight: 500;
    font-size: 0.9375rem;
}

.topic li:hover {
    background-color: rgb(221, 221, 221);
}

.main-details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 20rem;
    transition: grid-template-columns 0.3s ease;
}

.container.expanded .main-details {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 23rem;
}

.container.expanded .card-video img {
    width: 25rem;
    border-radius: 0.9375rem;
    margin-right: 0.625rem;
}

.container.expanded .card-logo img {
    width: 2.5rem;
    border-radius: 50%;
    text-align: center;
}

.card-block-text {
    display: flex;
    align-items: flex-start;
    gap: 0.9375rem;
}

.card-video img {
    width: 19.375rem;
    border-radius: 0.9375rem;
    margin-right: 0.625rem;
}

.card-logo img {
    width: 2.5rem;
    border-radius: 50%;
    text-align: center;
}

.main-text-video {
    display: flex;
    flex-direction: column;
}

.card-text-top {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
    line-height: 1.5;
    width: 15rem;
}

.card-text-bottom {
    color: rgb(135, 135, 135);
    font-size: 0.875rem;
}

@media (max-width: 768px) {
    html {
        font-size: 10px;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
    }

    .main-header {
        grid-row: 1;
        grid-column: auto;
        justify-content: space-between;
    }

    .main-header .logo {
        width: 7rem;
    }

    .burger-menu {
        display: none;
    }

    .search-form {
        display: none;
    }

    .right-bar {
        width: auto;
    }

    .three-img {
        width: auto;
    }

    .content-main {
        overflow-y: auto;
        grid-row: 2;
        grid-column: auto;
        margin: 0;
    }

    .main-details {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .card-video {
        margin-bottom: 2rem;
    }

    .card-video>img{
        width: 100vw;
    }

    .card-block-text {
        width: 100vw;
    }

    .card-logo {
        margin-left: 0.5rem;
    }

    .card-text-top {
        width: 100vw;
        text-align: start;
    }

    .card-text-bottom {
        text-align: start;
    }

    .main-top-bar {
        white-space: nowrap;
        overflow-x: auto;
        min-width: 100vw;
        width: 100%;
        padding: 2.3rem 0;
    }

    .topic {
        display: flex;
        gap: 1rem;
        padding-left: 0.5rem;
    }

    .narrow-sidebar {
        display: flex;
        justify-content: space-around;
        grid-row: 3;
        position: sticky;
        bottom: 0;
    }

    .expanded-sidebar {
        display: none;
    }
}



@media screen and (min-width: 1024px) and (max-width: 1279px) {
    html {
        font-size: 10px;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1365px) {
    html {
        font-size: 13px;
    }
}

@media screen and (min-width: 1366px) and (max-width: 1535px) {
    html {
        font-size: 14px;
    }
}

@media screen and (min-width: 1536px) and (max-width: 1919px) {
    html {
        font-size: 16px;
    }
}

@media screen and (min-width: 1920px) {
    html {
        font-size: 19px;
    }
}

@media (min-width: 2560px) {
    html {
        font-size: 26px;
    }
}
