* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 5% 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    transition: grid-template-columns 0.3s ease;
}

.main-header {
    grid-column: 1 / -1;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-bar {
    display: flex;
    align-items: center;
    text-align: center;
}

.burger-menu {
    font-size: 21px;
    font-weight: 30px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    background: transparent;
    border: none;
    border-radius: 50%;
    color: black;
}

.burger-menu:hover {
    background-color: rgb(221, 221, 221);
}

.main-header .logo {
    width: 7.1em;
    height: 2.6em;
    padding-left: 15px;
}

.search-form {
    display: flex;
    justify-content: center;
    margin: 0 5%;
    flex-grow: 1;
}

.search-container {
    display: flex;
    border: 1px solid black;
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
}

.search-bar {
    border: none;
    padding: 8px;
    font-size: 16px;
    flex-grow: 1;
    outline: none;
}

.search-button {
    border: none;
    background-color: rgb(240, 240, 240);
    padding: 4px 15px;
    cursor: pointer;
    border-left: 1px solid black;
}

.search-button:hover {
    background-color: rgb(218, 218, 218);
}

.search-button img {
    height: 1.5em;
}

.three-img {
    display: flex;
    justify-content: center;
}

.three-img img{
    height: 2em;
    border: none;
    border-radius: 50%;
    padding: 0 0.5em;
}

.sidebar {
    transition: opacity 0.3s ease, width 0.3s ease;
    border: solid;
}

.narrow-sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    opacity: 1;
}

.expanded-sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    opacity: 0;
    pointer-events: none;
}

.content-main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border: solid;
}

.container.expanded {
    grid-template-columns: 15% 1fr;
}

.narrow-sidebar.expanded {
    opacity: 0;
    pointer-events: none;
}

.expanded-sidebar.expanded {
    opacity: 1;
    pointer-events: auto;
}
